:root{
    --color1: #eeeeee;
    --color2: #32e0c4;
    --color3: #393e46;
    --color4: #222831;
}
* {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    color: var(--color1);
}

header{
    background-color: var(--color3);
    color: var(--color2);
    width: 100%;
    text-align: center;
}
